---
layout: page
---
{% capture page_title %}
{{ page.name }}{% if page.catchphrase and page.catchphrase != empty %}, {{ page.catchphrase }}{% endif %}
{% endcapture %}

<div id="marchers-navigation"
     style="display: flex; align-items: center; justify-content: space-evenly; margin-bottom: 10px">
  <div id="marchers-navigation-prev"
       style="width: 8%; cursor: pointer;">
    <img src="{{ 'assets/images/arrow-left.png' | relative_url }}"
         style="width: 100%">
  </div>
  {% for marcher in site.marchers %}
  <div class="{% if marcher.label == page.label %}active{% endif %}"
       title="{{ marcher.name }}"
       style="width: 15%">
    <a href="{{ marcher.url | relative_url }}">
      <img src="{{ 'assets/images/marchers/avatar-' | append: marcher.label | append: '.png' | relative_url }}"
           alt="{{ marcher.name }}"
           style="width: 100%">
    </a>
  </div>
  {% endfor %}
  <div id="marchers-navigation-next"
       style="width: 8%; cursor: pointer;">
    <img src="{{ 'assets/images/arrow-right.png' | relative_url }}"
         style="width: 100%">
  </div>
</div>

<hr>

<img src="{{ 'assets/images/marchers/avatar-' | append: page.label | append: '.png' | relative_url }}" style="width: 100%">

<h1>{{ page_title }}</h1>

<dl>
  {% if page.role and page.role != empty %}
  <dt>Rol</dt>
  <dd>{{ page.role | capitalize }}</dd>
  {% endif %}
  <dt>Complejidad</dt>
  <dd>
    {% case page.complexity %}
    {% when 1 %} Baja
    {% when 2 %} Media-baja
    {% when 3 %} Media
    {% when 4 %} Media-alta
    {% when 5 %} Alta
    {% else %} -
    {% endcase %}
  </dd>
</dl>

{{ content }}

<script type="text/javascript" src="{{ 'assets/js/navigator.js' | relative_url }}"></script>
